{{ define "main" }}
  <div class='mx-auto flex {{ partial "utils/page-width" . }}'>
    {{ partial "sidebar.html" (dict "context" .) }}
    {{ partial "toc.html" . }}
    <article class="w-full break-words flex min-h-[calc(100vh-var(--navbar-height))] min-w-0 justify-center pb-8 pr-[calc(env(safe-area-inset-right)-1.5rem)]">
      <main class="w-full min-w-0 max-w-6xl px-6 pt-4 md:px-12">
        <!-- {{ partial "breadcrumb.html" . }} -->
        <div class="content">
          <h1>{{ .Title }}</h1>
          {{ .Content }}
        </div>
        <!-- {{ partial "components/last-updated.html" . }} -->
        <!-- {{ partial "components/pager.html" . }} -->
        {{ partial "components/comments.html" . }}
      </main>
    </article>
  </div>
{{ end }}
