{{- $enableFooterSwitches := .Scratch.Get "enableFooterSwitches" | default false -}}

{{- $copyright := (T "copyright") | default "© 2023 Hextra." -}}

{{- $footerWidth := "max-w-screen-xl" -}}
{{- with .Site.Params.footer.width -}}
  {{ if eq . "wide" -}}
    {{ $footerWidth = "max-w-[90rem]" -}}
  {{ else if eq . "full" -}}
    {{ $footerWidth = "max-w-full" -}}
  {{ end -}}
{{- end -}}

<footer class="hextra-footer bg-gray-100 pb-[env(safe-area-inset-bottom)] dark:bg-neutral-900 print:bg-transparent">
  <!-- {{- if $enableFooterSwitches }}
    <div class='mx-auto flex gap-2 py-2 px-4 {{ $footerWidth }}'>
      {{- partial "language-switch.html" (dict "context" .) -}}
      {{- partial "theme-toggle.html" -}}
    </div>
  {{ end -}} -->
  <hr class="dark:border-neutral-800" />
  <div
    class='{{ $footerWidth }} mx-auto flex justify-center py-12 pl-[max(env(safe-area-inset-left),1.5rem)] pr-[max(env(safe-area-inset-right),1.5rem)] text-gray-600 dark:text-gray-400 md:justify-start'
  >
    <div class="flex w-full flex-col items-center sm:items-start">
      {{- if (.Site.Params.footer.displayPoweredBy | default true) }}<div class="font-semibold">{{ template "theme-credit" . }}</div>{{ end }}
      {{- if .Site.Params.footer.displayCopyright }}<div class="mt-6 text-xs">{{ $copyright | markdownify }}</div>{{ end }}
    </div>
  </div>
</footer>

{{- define "theme-credit" -}}
  <p>
    Web built with <a class="underline" target="_blank" rel="noopener noreferrer" title="Hugo | The world’s fastest framework for building websites" href="https://gohugo.io/">Hugo</a>
    and <a class="underline" target="_blank" rel="noopener noreferrer" title="Hextra GitHub Homepage" href="https://github.com/imfing/hextra">Hextra</a>,
    hosted on <a class="underline" target="_blank" rel="noopener noreferrer" title="GitLab | The DevSecOps Platform" href="https://gitlab.com/switch-to-element/switch-to-element">GitLab</a>
  </p>
{{- end -}}
